$blue: #78c8f5;
$blueLocked: #00a2ff;
$red: #f7998d;
$redLocked: #ff432f;

.ended {
	font-size: 22px;
}

.nameinput {
	width: 75px;
}

input[type="submit"] {
	font-size: 12pt;
}

.playersContainer {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
	padding-top: 10px;
	.topbuttons {
		position: absolute;
		top: 10px;
		width: 90px;
	}
	.clear {
		left: 20px;
	}
	.pass {
		left: 20px;
		top: 40px;
	}
	.submit {
		right: 20px;
	}
}

.players {
  margin-bottom: 5px;
  padding-left: 0;
  display: inline-block;
	li {
		float: left;
		list-style: none;
    text-align: center;
		width: 60px;
		padding-left: 20px;
		padding-right: 20px;
		.icon {
			line-height: 30px;
			font-size: 90px;
			margin-right: -10px;
			margin-left: -10px;
			font-weight: bold;
		}
		.score {
			font-size: 24px;
			padding-left: 7px;
		}
		.arrow {
			line-height: 22px;
			font-size: 24px;
			padding-left: 7px;
		}
		.waiting {
			font-size: 18px;
			position: relative;
			top: -10px;
		}
		.player1 {
		}
		.player2 {
		}
	}
	.player1 .arrow, .player1 .icon {
			color: $blueLocked;
	}
	.player2 .arrow, .player2 .icon {
			color: $redLocked;
	}
}

#gamelist {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	li {
		list-style: none;
		margin-top: 3px;
		.gameover {
			font-style: italic;
			padding: 1px 6px;
			margin-left: 6px;
			background: #e0dfdc;
		}
	}
}

#selected {
	margin-top: 5px;
	margin-bottom: 10px;
	display: block;
	position: relative;
	li {
    float: left;
    list-style: none;
	}
}

#board {
	position: relative;
	top: -100px;
	li {
    position: absolute;
		display: inline-block;
	}
}

// tile colors
#board, #selected {
	padding: 0;
	margin: 0;
  margin-left: auto;
  margin-right: auto;

	li {
		padding: 20px 15px 10px 15px;
		text-align: center;
    background: #e8e7e4;
    width: 50px;
    height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: #2e2e2d;
	}
	 .player-one {
    background: $blue;
    color: #182831;
	}

	.player-one-locked {
    background: $blueLocked;
    color: #002033;
	}

	.player-two {
    background: $red;
    color: #311e1c;
	}

	.player-two-locked {
    background: $redLocked;
    color: #330d09;
	}
}

.playedWords {
	position: relative;
	width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;

	li {
		list-style: none;
		display: inline-block;
	}
	.player1 {
		color: $blueLocked;
	}
	.player2 {
		color: $redLocked;
	}
	li:after {
		content: ", ";
	}
	li:last-child:after {
		content: "";
	}
}
