// Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// Partials (files starting with _) can be inclued using @import:
// (import path can include _ but it is not needed)

// You can use any sass features, like variables, for instance:
$font-stack: 'Varela Round', Verdana, Helvetica, Arial, sans-serif;
$base-font-size: 1.125em;

@import 'game';

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: normal;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(/fonts/VarelaRound-Regular.ttf);
}

.body-container {
  font-family: $font-stack;
  background: #f0efec;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: $base-font-size + 1.375;
}

h2 {
  font-size: $base-font-size + 0.875;
}

h3 {
  font-size: $base-font-size + 0.125;
}

a {
  text-decoration: none;
  color: #09f;

  &:hover {
    text-decoration: underline;
  }
}
