@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: normal;
  src: local("Varela Round"), local("VarelaRound-Regular"), url(/fonts/VarelaRound-Regular.ttf); }

.body-container {
  font-family: "Varela Round", Verdana, Helvetica, Arial, sans-serif;
  background: #f0efec;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em; }

h1, h2, h3 {
  color: #000; }

input[type="submit"] {
  font-size: 12pt; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }

a {
  text-decoration: none;
  color: #09f; }
  a:hover {
    text-decoration: underline; }
