@blue: #78c8f5;
@blueLocked: #00a2ff;
@red: #f7998d;
@redLocked: #ff432f;

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: normal;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(/assets/fonts/VarelaRound-Regular.ttf);
}

body {
    font-family: 'Varela Round', Helvetica, sans-serif;
    background: #f0efec;
    text-align: center;
}

.ended {
	font-size: 22px;
}

.nameinput {
	width: 75px;
}

input[type="submit"] {
	font-size: 12pt;
}

.playersContainer {
	padding-top: 10px;
	.topbuttons {
		position: absolute;
		top: 10px;
		width: 75px;
	}
	.clear {
		left: 20px;
	}
	.submit {
		right: 20px;
	}
}

.players {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: inline-block;
	li {
		float: left;
		list-style: none;
		width: 60px;
		padding-left: 20px;
		padding-right: 20px;
		.icon {
			line-height: 30px;
			font-size: 90px;
			font-weight: bold;
		}
		.score {
			font-size: 24px;
			padding-left: 7px;
		}
		.arrow {
			line-height: 22px;
			font-size: 24px;
			padding-left: 7px;
		}
		.waiting {
			font-size: 18px;
			position: relative;
			top: -10px;
		}
		.player1 {
		}
		.player2 {
		}
	}
	.player1 .arrow, .player1 .icon {
			color: @blueLocked;
	}	
	.player2 .arrow, .player2 .icon {
			color: @redLocked;
	}	
}


#board {
    position: relative;
    top: -200px;
    width: 400px;
	span {
	    padding: 20px 15px 10px 15px;	
	    position: absolute;
	    display: inline-block;
	}
	div {
	    height: 90px;
	    margin: 0;
	    padding: 0;
	}
}

#selected {
	margin-top: 5px;
	margin-bottom: 10px;
    padding: 0;
    display: inline-block;
	li {
	    float: left;
	    list-style: none;
	    width: 50px;
	    padding: 20px 15px 10px 15px;	
	}
}

// tile colors
#board, #selected {
    margin-left: auto;
    margin-right: auto;

	span, li {
	    background: #e8e7e4;
	    width: 50px;
	    height: 60px;
	    font-size: 50px;
	    font-weight: bold;
	    color: #2e2e2d;
	}
	 .player1 {
	    background: @blue;
	    color: #182831;
	}
	
	.player3 {
	    background: @blueLocked;
	    color: #002033;
	}
	
	.player2 {
	    background: @red;
	    color: #311e1c;
	}
	
	.player4 {
	    background: @redLocked;
	    color: #330d09;
	}
}

.playedWords {
	position: relative;
	top: 450px;
	width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

	li {
		list-style: none;
		display: inline-block;
	}
	.player1 {
		color: @blueLocked;
	}
	.player2 {
		color: @redLocked;
	}
	li:after {
		content: ", ";
	}
	li:last-child:after {
		content: "";
	}
}
