@(game: Game, winner: Option[String])

@import tags._
@import models._


@main {

@defining(!winner.isEmpty) { ended => 

@if(ended) {
<p class="ended">The game has ended.<br>
@winner.get won!
</p>
}

<div class="playersContainer">

<input type="submit" value="Clear" class="clear topbuttons">

<ul class="players">
@player("1", Some(game.playerOne), game.playerOneScore, game.turn.toString, ended)
@player("2", game.playerTwo, game.playerTwoScore, game.turn.toString, ended)
</ul>

<input type="submit" value="Submit" class="submit topbuttons" 
@if(ended || game.playerTwo.isEmpty) { 
  disabled="disabled" 
} >
<input type="hidden" name="gameid" value="@game.id">

</div>

<div>
<ul id="selected">
</ul>
</div>

<div id="board">

@for(tile <- game.tiles) {
	@tilespan(tile)
}
</div>

<ul class="playedWords">
@for(word <- game.words) {
	<li>@word</li>
}
</ul>

}
}