@main {

<ul id="selected">
</ul>

<div id="board">
<div>
<span style="left: 0px;" data-id="0">M</span>
<span style="left: 80px;" data-id="1">Ä</span>
<span style="left: 160px;" data-id="2">Y</span>
<span style="left: 240px;" data-id="3">N</span>
<span style="left: 320px;" data-id="4">K</span>
</div>
<div>
<span style="left: 0px;" data-id="5">J</span>
<span style="left: 80px;" data-id="6">O</span>
<span style="left: 160px;" data-id="7">E</span>
<span style="left: 240px;" data-id="8">B</span>
<span style="left: 320px;" data-id="9">C</span>
</div>
<div>
<span style="left: 0px;">M</span>
<span style="left: 80px;">L</span>
<span style="left: 160px;">V</span>
<span style="left: 240px;">J</span>
<span style="left: 320px;">V</span>
</div>
<div>
<span style="left: 0px;">E</span>
<span style="left: 80px;">V</span>
<span style="left: 160px;">M</span>
<span style="left: 240px;">Ä</span>
<span style="left: 320px;">U</span>
</div>
<div>
<span style="left: 0px;">V</span>
<span style="left: 80px;">Ö</span>
<span style="left: 160px;">P</span>
<span style="left: 240px;">D</span>
<span style="left: 320px;">N</span>
</div>
</div>
}