@(game: Game)

@import tags._
@import models._

@main {

<div class="playersContainer">

<input type="submit" value="Clear" class="clear">

<ul class="players">
@if(game.playerOne != null) {
	@player(1, game.playerOne, game.playerOneScore)
}
@if(game.playerTwo != null) {
	@player(2, game.playerTwo.getOrElse(""), game.playerTwoScore)
}
</ul>

<input type="submit" value="Submit" class="submit">

</div>

<div>
<ul id="selected">
</ul>
</div>

<div id="board">

@for(tile <- game.tiles) {
	@tilespan(tile)
}
</div>
}