@(newgameForm: Form[(String, Int)], setnameForm: Form[String], currentPlayer: Option[String] = None)

@import helper._
@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main {

<p>
<a href="http://github.com/ykarikos/letterpress.fi"><img style="position: absolute; top:
0; right: 0; border: 0;"
src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
alt="Fork me on GitHub"></a></p>

	<h1>Letterpress.fi</h1>
	
	<p>A <a href="http://www.atebits.com/letterpress/">Letterpress</a> clone in Finnish</p>
	<p><a href="@routes.Application.listgames">List</a> your games</p>

    @form(routes.Application.newgame) {
        @if(currentPlayer.isDefined) {
            <span>Name: @currentPlayer</span>
		    <input type="hidden" name="name" value="@currentPlayer">
        } else {
        	@inputText(newgameForm("name"))
        }
        <p> 
		@inputText(newgameForm("size"))
		<p>
        <input type="submit" value="Create game">        
    }
    
}