@(setnameForm: Form[String], currentPlayer: Option[String] = None, games: Option[List[Game]])

@import helper._
@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main {

	<h1>Letterpress.fi</h1>

	@if(currentPlayer.isDefined) {
		<p>Hi, @currentPlayer! Your games are:</p>
		<ul id="gamelist">
		@for(game <- games.get) {
			<li><a href="/game/@game.id">@game.playerOne – @game.playerTwo.getOrElse("")</a>: 
			@game.score
			@if(game.ended) {
				<span class="gameover">Game over</span>
			}
		}
		</ul>		
	} else {
	    @form(routes.Application.setname) {
        	@inputText(setnameForm("name"))
        	<input type="submit" value="List games">
	    }
	}
}